{% extends 'base.html' %}
{% load avatar_tags %}
{% block content %}
<div class="container center" id="profile">
  <div class="row">
    <div class="col-md-12  top">
      <div class="card-body">
        <h1>Profile</h1>
        {% avatar user id="user_avatar" %}
        <p>Username: <i>{{ user }}</i></p>
        <p>First name: <i>{{ user.first_name }}</i></p>
        <p>Last name: <i>{{ user.last_name }}</i></p>
        <p>Email: <i>{{ user.email }}</i></p>
        <a href="{% url 'post_list' %}" class="btn btn-outline-secondary" role="button">Retour</a>
        <a href="{% url 'edit_profile' %}" class="btn btn-success" role="button">Modifier mon profil</a>
        <p class="card-text ">{{ object.content | safe }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}